Repository transitmatters/new-train-tracker, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, dependencies, backend, frontend, documentation

Bump Python version to 3.12
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  .gitignore
  README.md
  devops/deploy-playbook.yml
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
  server/mbta_api.py
Labels: ci/cd, dependencies, backend, documentation

Bump Python version to 3.12 (#180)
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  .gitignore
  README.md
  devops/deploy-playbook.yml
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
  server/mbta_api.py
Labels: ci/cd, dependencies, backend, documentation

Additional dependency updates
  package-lock.json
  poetry.lock
  pyproject.toml
Labels: dependencies

Some README updates as well
  README.md
Labels: documentation

Additional dependency updates (#181)
  README.md
  package-lock.json
  poetry.lock
  pyproject.toml
Labels: dependencies, documentation

Upgrade to node 20
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  README.md
  devops/deploy-playbook.yml
  package-lock.json
  package.json
Labels: ci/cd, dependencies, documentation

Remove unused flag
  .github/workflows/deploy.yml
  devops/deploy.sh
Labels: ci/cd

Upgrade to node 20 (#182)
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  README.md
  devops/deploy-playbook.yml
  devops/deploy.sh
  package-lock.json
  package.json
Labels: ci/cd, dependencies, documentation

feat(train-popover): add last updated date and predicted departure
  server/mbta_api.py
  src/labels.tsx
  src/main.css
  src/types.ts
Labels: backend, frontend

fixup: lint
  server/fleet.py
  server/mbta_api.py
  server/secrets.py
Labels: backend

fixup: lables
  src/labels.tsx
Labels: frontend

feat(train-popover): add last updated date and predicted departure (#185)
  server/fleet.py
  server/mbta_api.py
  server/secrets.py
  src/labels.tsx
  src/main.css
  src/types.ts
Labels: backend, frontend

fix: typo in labels, and add instance connect endpoint in cloudformation
  devops/cloudformation.json
  src/labels.tsx
Labels: ci/cd, frontend

fix: remove instance connect cloudformation
  devops/cloudformation.json
Labels: ci/cd

fix: typo in labels (#188)
  src/labels.tsx
Labels: frontend

Package and data bumps for April 2024
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
  static/static_data.json
Labels: dependencies

fix: rollback dependency upgrade
  poetry.lock
  pyproject.toml
  test.sh
Labels: dependencies

fix: delete test file
  test.sh
Labels: none

Add datadog monitoring to new-train-tracker
  .gitignore
  devops/deploy-playbook.yml
  devops/deploy.sh
Labels: ci/cd

Fixing systemd and dependency
  devops/systemd.conf
  poetry.lock
  pyproject.toml
Labels: ci/cd, dependencies

Add datadog monitoring to new-train-tracker (#198)
  .gitignore
  devops/deploy-playbook.yml
  devops/deploy.sh
  devops/systemd.conf
  poetry.lock
  pyproject.toml
Labels: ci/cd, dependencies

Fix deploy env
  .github/workflows/deploy.yml
Labels: ci/cd

Fix deploy env (#199)
  .github/workflows/deploy.yml
Labels: ci/cd

Version bump
  package-lock.json
  package.json
Labels: dependencies

Adding dd-trace run call
  devops/systemd.conf
Labels: ci/cd

We don't need that much datadog, it was too much
  devops/deploy-playbook.yml
  devops/systemd.conf
Labels: ci/cd

Fix port
  devops/deploy-playbook.yml
Labels: ci/cd

Datadog config optimization and fixes (#201)
  devops/deploy-playbook.yml
  devops/systemd.conf
Labels: ci/cd

fix: get departure predictions per route instead of per vehicle
  server/mbta_api.py
Labels: backend

fix: prediction fetching
  server/application.py
  server/mbta_api.py
  src/components/TrainPopover.tsx
  src/hooks/useMbtaApi.ts
  src/hooks/useVehicleData.ts
  src/labels.tsx
  src/types.ts
Labels: backend, frontend

fix: prediction fetching
  src/components/TrainPopover.tsx
  src/hooks/useMbtaApi.ts
  src/hooks/useVehicleData.ts
  src/labels.tsx
Labels: frontend

fix: prediction
  server/application.py
  server/mbta_api.py
  src/components/TrainPopover.tsx
  src/hooks/usePrediction.ts
  src/hooks/usePredictions.ts
  src/hooks/useVehicleData.ts
  src/labels.tsx
  src/types.ts
Labels: backend, frontend

fix: remove extra file
  src/hooks/usePredictions.ts
Labels: frontend

fix: remove redundant variable
  server/mbta_api.py
Labels: backend

fix: some naming
  src/components/TrainPopover.tsx
  src/hooks/usePrediction.ts
  src/labels.tsx
Labels: frontend

fix: trailing whitespace
  server/mbta_api.py
Labels: backend

fix(predictions): only fetch predictions for a train when user opens the train opover (#203)
  server/application.py
  server/mbta_api.py
  src/components/TrainPopover.tsx
  src/hooks/useMbtaApi.ts
  src/hooks/usePrediction.ts
  src/labels.tsx
  src/types.ts
Labels: backend, frontend

Fixing last seen data
  .nvmrc
  package-lock.json
  package.json
  server/app.py
  server/chalicelib/background.py
  server/chalicelib/last_seen.py
  server/chalicelib/s3.py
  src/components/AgeTabPicker.tsx
  src/components/Footer.tsx
  src/components/Line.tsx
  src/components/LineTabPicker.tsx
  src/components/Train.tsx
  src/hooks/useLastSighting.ts
  src/hooks/useMbtaApi.ts
  src/index.tsx
  src/main.css
  tsconfig.json
Labels: dependencies, backend, frontend

Remove initial data
  server/chalicelib/initial_data.py
  src/hooks/useMbtaApi.ts
  src/initialData.js
Labels: backend, frontend

Default to green
  src/hooks/searchParams.ts
Labels: frontend

.github/labeler.yml:

ci/cd:
- .github/**/*
- devops/**/*

dependencies:
- package.json
- package-lock.json
- poetry.lock

backend:
- '**/*.py'
- server/**/*
- .flake8

frontend:
- '**/*.js'
- '**/*.jsx'
- '**/*.ts'
- '**/*.tsx'

documentation:
- README.md
- LICENSE
