Repository transitmatters/new-train-tracker, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, dependencies, backend, frontend, documentation

.github/labeler.yml:

ci/cd:
- .github/**/*
- devops/**/*

dependencies:
- package.json
- package-lock.json
- poetry.lock

backend:
- '**/*.py'
- server/**/*
- .flake8

frontend:
- '**/*.js'
- '**/*.jsx'
- '**/*.ts'
- '**/*.tsx'

documentation:
- README.md
- LICENSE

Using static data again
  src/components/LineStats/LineStats.tsx
  src/hooks/useAPICall.tsx
Labels: frontend

Resolve json in typescript
  tsconfig.json
Labels: none

Updating packages for august 2023
  .nvmrc
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
Labels: dependencies

Update backend linting
  poetry.lock
  pyproject.toml
Labels: dependencies

Train cars not Trains
  src/components/LineStats/LineStats.tsx
Labels: frontend

Add Stats Dropdown (#99)
  src/components/App.tsx
  src/components/Line.tsx
  src/components/LineStats/LineStats.css
  src/components/LineStats/LineStats.tsx
  src/globals.d.ts
  src/hooks/useMbtaApi.ts
  static/static_data.json
  tsconfig.json
Labels: frontend

Updating packages for august 2023 (#153)
  .nvmrc
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
Labels: dependencies

Revert "Bump postcss, autoprefixer, css-loader and postcss-loader (#155)"
  package-lock.json
  package.json
Labels: dependencies

Upgrading python and node to 3.9 and 18.x
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  .nvmrc
  README.md
  devops/cloudformation.json
  devops/deploy-playbook.yml
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
Labels: ci/cd, dependencies, documentation

Allow greater than 3.9
  pyproject.toml
Labels: none

Updating lock
  poetry.lock
Labels: dependencies

Actually update node
  devops/deploy-playbook.yml
Labels: ci/cd

Adding ansible python install
  devops/deploy-playbook.yml
Labels: ci/cd

Upgrading python and node to 3.9 and 18.x (#164)
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  .nvmrc
  README.md
  devops/cloudformation.json
  devops/deploy-playbook.yml
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
Labels: ci/cd, dependencies, documentation

Upgrade python to 3.11
  .github/workflows/lint.yml
  README.md
  devops/deploy-playbook.yml
  poetry.lock
  pyproject.toml
  server/application.py
  server/background.py
  server/fleet.py
  server/healthcheck.py
  server/initial_data.py
  server/last_seen.py
  server/mbta_api.py
  server/secrets.py
Labels: ci/cd, dependencies, backend, documentation

Version bump
  package-lock.json
  package.json
  pyproject.toml
Labels: dependencies

Fix CI python
  .github/workflows/lint.yml
Labels: ci/cd

Fixing poetry env selection
  devops/deploy-playbook.yml
Labels: ci/cd

Upgrade python to 3.11 (#165)
  .github/workflows/lint.yml
  README.md
  devops/deploy-playbook.yml
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
  server/application.py
  server/background.py
  server/fleet.py
  server/healthcheck.py
  server/initial_data.py
  server/last_seen.py
  server/mbta_api.py
  server/secrets.py
Labels: ci/cd, dependencies, backend, documentation

Ensure deploy is using correct Python
  .github/workflows/deploy.yml
Labels: ci/cd

Fixing deploy branch
  devops/deploy-playbook.yml
Labels: ci/cd

Update delivery stats
  static/static_data.json
Labels: none

Ensure deploy is using correct Python (#166)
  .github/workflows/deploy.yml
  devops/deploy-playbook.yml
Labels: ci/cd

Remove CSS resizing header on small screens
  src/main.css
Labels: none

Add hooks for Age and Line search params
  src/hooks/searchParams.ts
Labels: frontend

Move tab states to the search params
  package-lock.json
  package.json
  src/components/AgeTabPicker.tsx
  src/components/App.tsx
  src/components/LineTabPicker.tsx
  src/index.tsx
  src/main.css
Labels: dependencies, frontend

Remove CSS resizing header on small screens (#168)
  src/main.css
Labels: none

Update LICENSE
  LICENSE
Labels: documentation

Update LICENSE (#170)
  LICENSE
Labels: documentation

Update delivery stats (#167)
  static/static_data.json
Labels: none

Save state on refresh, use URL state (#169)
  package-lock.json
  package.json
  src/components/AgeTabPicker.tsx
  src/components/App.tsx
  src/components/LineTabPicker.tsx
  src/hooks/searchParams.ts
  src/index.tsx
  src/main.css
Labels: dependencies, frontend

Updating storage type to gp3
  devops/cloudformation.json
Labels: ci/cd

Adding tag to cloudfront distrobution
  devops/cloudformation.json
Labels: ci/cd

Updating storage type to gp3 (#174)
  devops/cloudformation.json
Labels: ci/cd

Updated stats and added for Blue Line
  src/components/LineStats/LineStats.tsx
  static/static_data.json
Labels: frontend

Updated stats and added for Blue Line (#175)
  src/components/LineStats/LineStats.tsx
  static/static_data.json
Labels: frontend

Use EC2 Instance Connect to access the server
  devops/deploy.sh
Labels: ci/cd

Oops I forgot to change the ID also
  devops/deploy.sh
Labels: ci/cd

Keeping packages up to date in 2024
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
  src/components/TrainPopover.tsx
Labels: dependencies, frontend

Keeping packages up to date in 2024 (#178)
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
  src/components/TrainPopover.tsx
Labels: dependencies, frontend
