Repository transitmatters/new-train-tracker, pull requests merged in 2024-02, with the labels that each got.

#174 Updating storage type to gp3
  devops/cloudformation.json
Labels: ci/cd

#175 Updated stats and added for Blue Line
  src/components/LineStats/LineStats.tsx
  static/static_data.json
Labels: frontend

#178 Keeping packages up to date in 2024
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
  src/components/TrainPopover.tsx
Labels: dependencies, frontend

#180 Bump Python to 3.12
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  .gitignore
  README.md
  devops/deploy-playbook.yml
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
  server/mbta_api.py
Labels: dependencies, ci/cd, documentation, backend

#181 Additional dependency updates
  README.md
  package-lock.json
  poetry.lock
  pyproject.toml
Labels: dependencies, documentation

#182 Upgrade to node 20
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  README.md
  devops/deploy-playbook.yml
  devops/deploy.sh
  package-lock.json
  package.json
Labels: dependencies, ci/cd, documentation
