Repository transitmatters/new-train-tracker, pull requests merged in 2024-05, with the labels that each got.

#198 Add datadog monitoring to new-train-tracker
  .gitignore
  devops/deploy-playbook.yml
  devops/deploy.sh
  devops/systemd.conf
  poetry.lock
  pyproject.toml
Labels: dependencies, ci/cd

#199 Fix deploy env
  .github/workflows/deploy.yml
Labels: ci/cd

#201 Datadog config optimization and fixes
  devops/deploy-playbook.yml
  devops/systemd.conf
Labels: ci/cd

#203 fix(predictions): only fetch predictions for a train when user opens the train opover
  server/application.py
  server/mbta_api.py
  src/components/TrainPopover.tsx
  src/hooks/useMbtaApi.ts
  src/hooks/usePrediction.ts
  src/labels.tsx
  src/types.ts
Labels: frontend, backend
