Repository transitmatters/new-train-tracker, pull requests merged in 2025-02, with the labels that each got.

#224 Upgrading poetry dev dependencies section
  poetry.lock
  pyproject.toml
Labels: dependencies

#226 feat: show carriage occupancy and 4-car trains
  server/chalicelib/mbta_api.py
  src/components/TrainDisplay.tsx
  src/components/icons/ArrowUpIcon.tsx
  src/components/icons/PersonIcon.tsx
  src/labels.tsx
  src/main.css
  src/types.ts
Labels: frontend, backend

#231 Reduce unneeded API calls
  .github/workflows/lint.yml
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
  server/.chalice/config.json
  src/constants.ts
  src/hooks/useMbtaApi.ts
  src/hooks/usePrediction.ts
  src/prerender.ts
Labels: dependencies, ci/cd, frontend

#232 Improve Typechecking for safety
  .github/funding.yml
  package-lock.json
  package.json
  server/chalicelib/fleet.py
  server/chalicelib/mbta_api.py
  src/components/App.tsx
  src/components/CategoryTabPicker.tsx
  src/components/Header.tsx
  src/components/Line.tsx
  src/components/LineStats/LineStats.tsx
  src/components/TrainDisplay.tsx
  src/components/TrainPopover.tsx
  src/components/util.ts
  src/constants.ts
  src/hooks/searchParams.ts
  src/hooks/useMbtaApi.ts
  src/hooks/usePrediction.ts
  src/interpolation.ts
  src/labels.tsx
  src/lines.ts
  src/paths.ts
  src/prerender.ts
  src/types.ts
  tsconfig.json
Labels: dependencies, ci/cd, frontend, backend

#234 Fix potential empty trains bug
  src/hooks/useMbtaApi.ts
Labels: frontend
